body{
    font-family: Arial;
    background-color: #f2f2f2;
    text-align: center;
}

h1{
    color: darkred;
}

h2{
    color: darkgreen;
}

.snack{
    background-color: white;
    border: 2px solid black;
    margin: 15px;
    padding: 10px;
}